.box-container{
  background-color: var(--color-primary);
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-searcher {
  width: 980px;
  height: 100%;
  display: flex;
  align-items: center;
}
.box-searcher__img {
  width: 80px;
  margin-right: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-searcher__img > img {
  width: 80%;
  height: 80%;
}
.box-searcher__input {
  height: 35px;
  width: 900px;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}
.box-searcher__input > input{
  width: 100%;
  height: 100%;
  font-size: 18px;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  padding-left: 15px;
  color: var(--color-text-primary);
}
.box-searcher__input > input::placeholder{
  color: var(--color-text-gray);
}

.box-searcher__input > button{
  position: absolute;
  border: none;
  background-color: var(--color-secondary);
  right: 0;
  top: 0;
  bottom: 0;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform .1s linear;
}
.box-searcher__input > button:active{
  transform: scale(1.1);
}
.box-searcher__input > button > img{
  width: 20px;
  height: 20px;
}